In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('../enemies.csv')
df.sample(5)

               Enemy      CR
136    Corpse Flower    CR 8
660         Werewolf    CR 3
61             Balor   CR 19
146         Darkling  CR 1/2
632  Vampire Warrior   CR 15

In [29]:
def transformFraction(frac):
    try:
        return float(frac)
    except:
        if frac == '1/2':
            return 0.5
        elif frac == '1/4':
            return 0.25
        elif frac == '1/8':
            return 0.125
        else:
            return -1

In [30]:
df['CR'].unique()

array([ 0.25 ,  9.   , 10.   , 14.   , 17.   , 16.   , 13.   , 15.   ,
        2.   ,  5.   ,  7.   , 11.   , 18.   , 21.   , 23.   , 20.   ,
       22.   , 24.   ,  1.   ,  3.   ,  6.   ,  0.5  , 12.   ,  8.   ,
        0.   ,  4.   , 19.   ,  0.125, 26.   , 25.   ,    nan, 30.   ])

In [31]:
df['CR'] = df['CR'].apply(transformFraction)

In [12]:
df.sample(5)

                 Enemy   CR
528          Rutterkin    2
345             Hezrou    8
640        Vine Blight  1/2
118             Chasme    6
36   Angry Sorrowsworn   13

In [32]:
df = df[df['CR'] < 14]

In [33]:
df.sample(5)

                        Enemy     CR
83              Black Pudding   4.00
181                    Dretch   0.25
645                  Warhorse   0.50
2                     Aboleth  10.00
129  Clockwork Stone Defender   4.00

In [ ]:
df.to_csv('../enemies_under_14.csv', index=False)