In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../Data/enemies.csv')
df.sample(5)

                  Enemy      CR
533  Sahuagin Priestess    CR 2
20               Alhoon   CR 10
419              Medusa    CR 6
96             Boneclaw   CR 12
143             Cultist  CR 1/8

In [3]:
def transformFraction(frac):
    frac = frac.strip('CR ')
    try:
        return float(frac)
    except:
        if frac == '1/2':
            return 0.5
        elif frac == '1/4':
            return 0.25
        elif frac == '1/8':
            return 0.125
        else:
            return -1

In [4]:
df['CR'].unique()

array(['CR 1/4', 'CR 9', 'CR 10', 'CR 14', 'CR 17', 'CR 16', 'CR 13',
       'CR 15', 'CR 2', 'CR 5', 'CR 7', 'CR 11', 'CR 18', 'CR 21',
       'CR 23', 'CR 20', 'CR 22', 'CR 24', 'CR 1', 'CR 3', 'CR 6',
       'CR 1/2', 'CR 12', 'CR 8', 'CR 0', 'CR 4', 'CR 19', 'CR 1/8',
       'CR 26', 'CR 25', 'CR —', 'CR 30'], dtype=object)

In [5]:
df['CR'] = df['CR'].apply(transformFraction)

In [6]:
df.sample(5)

                      Enemy    CR
504  Quaggoth Spore Servant  1.00
600        Swarm of Spiders  0.50
665           Winged Kobold  0.25
499            Pseudodragon  0.25
529     Saber-Toothed Tiger  2.00

In [7]:
df = df[df['CR'] < 14]

In [8]:
df.sample(5)

                  Enemy   CR
197    Duergar Hammerer  2.0
317           Gray Ooze  0.5
414        Master Thief  5.0
547      Shadow Mastiff  2.0
412  Martial Arts Adept  3.0

In [9]:
df.rename(columns={'CR':'cr','Enemy':'name'}, inplace=True)

In [10]:
df.head()

              name     cr
0        Aarakocra   0.25
1   Abjurer Wizard   9.00
2          Aboleth  10.00
3  Abominable Yeti   9.00
4          Acolyte   0.25

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 626 entries, 0 to 707
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    626 non-null    object
 1   cr      626 non-null    float64
dtypes: float64(1), object(1)
memory usage: 14.7+ KB

In [12]:
df.to_csv('../Data/enemies_under_14.csv', index=False)

In [13]:
df_5etools = pd.read_csv('../Data/5e_monster_data_5eTools.csv')
df_5etools.sample(5)

,Unnamed: 0,name,hp,hp formula,hp special,ac,ac special,cr,str,dex,...,walk,fly,swim,burrow,climb,hover,size,alignment,type,source
2741,2741,Sir Talavar,14,4d4 + 4,-,15,-,2,3,20,...,10,60,-,-,-,-,T,LG,dragon,WBtW
1104,1104,Incubus,66,12d8 + 12,-,15,-,4,8,17,...,30,60,-,-,-,-,M,NE,fiend,MM
957,957,Copper Dragon Wyrmling,22,4d8 + 4,-,16,-,1,15,12,...,30,60,-,-,30,-,M,CG,dragon,MM
2230,2230,Tau,33,6d8 + 6,-,16,-,2,11,14,...,30,-,-,-,-,-,M,NE,humanoid,SKT
482,482,Aurelia,287,25d8 + 175,-,22,-,23,26,24,...,50,150,-,-,-,-,M,LG,celestial,GGR

In [14]:
df_5etools.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2947 entries, 0 to 2946
Data columns (total 30 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2947 non-null   int64
 1   name        2947 non-null   object
 2   hp          2947 non-null   object
 3   hp formula  2947 non-null   object
 4   hp special  2947 non-null   object
 5   ac          2947 non-null   object
 6   ac special  2947 non-null   object
 7   cr          2947 non-null   object
 8   str         2947 non-null   object
 9   dex         2947 non-null   object
 10  con         2947 non-null   object
 11  int         2947 non-null   object
 12  wis         2947 non-null   object
 13  cha         2947 non-null   object
 14  str save    2947 non-null   object
 15  dex save    2947 non-null   object
 16  con save    2947 non-null   object
 17  int save    2947 non-null   object
 18  wis save    2947 non-null   object
 19  cha save    2947 non-null   object
 20  walk        2947 non-null   object
 21  fly         2947 non-null   object
 22  swim        2947 non-null   object
 23  burrow      2947 non-null   object
 24  climb       2947 non-null   object
 25  hover       2947 non-null   object
 26  size        2947 non-null   object
 27  alignment   2947 non-null   object
 28  type        2947 non-null   object
 29  source      2947 non-null   object
dtypes: int64(1), object(29)
memory usage: 690.8+ KB

In [15]:
df_5etools = df_5etools[["name",'hp','ac','cr','size','type',]]

In [16]:
df_5etools.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2947 entries, 0 to 2946
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    2947 non-null   object
 1   hp      2947 non-null   object
 2   ac      2947 non-null   object
 3   cr      2947 non-null   object
 4   size    2947 non-null   object
 5   type    2947 non-null   object
dtypes: object(6)
memory usage: 138.3+ KB

In [17]:
final_df = df.merge(df_5etools, how='inner', on='name')

In [18]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 824 entries, 0 to 823
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    824 non-null    object
 1   cr_x    824 non-null    float64
 2   hp      824 non-null    object
 3   ac      824 non-null    object
 4   cr_y    824 non-null    object
 5   size    824 non-null    object
 6   type    824 non-null    object
dtypes: float64(1), object(6)
memory usage: 45.2+ KB

In [19]:
final_df.drop_duplicates(subset='name',inplace=True)

In [20]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 626 entries, 0 to 823
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    626 non-null    object
 1   cr_x    626 non-null    float64
 2   hp      626 non-null    object
 3   ac      626 non-null    object
 4   cr_y    626 non-null    object
 5   size    626 non-null    object
 6   type    626 non-null    object
dtypes: float64(1), object(6)
memory usage: 39.1+ KB

In [21]:
final_df.drop(columns=['cr_y'], inplace=True)
final_df.rename(columns={'cr_x':'cr'}, inplace=True)

In [22]:
final_df.to_csv('../Data/enemies_under_14_final.csv', index=False)