In [58]:
import pandas as pd

In [59]:
df = pd.read_csv('../../Data/enemies.csv')
df.sample(5)

                 Enemy     CR
366                Imp   CR 1
526  Rug of Smothering   CR 2
420           Meenlock   CR 2
295     Githyanki Gish  CR 10
512              Raven   CR 0

In [60]:
def transformFraction(frac):
    frac = frac.strip('CR ')
    try:
        return float(frac)
    except:
        if frac == '1/2':
            return 0.5
        elif frac == '1/4':
            return 0.25
        elif frac == '1/8':
            return 0.125
        else:
            return -1

In [61]:
df['CR'].unique()

array(['CR 1/4', 'CR 9', 'CR 10', 'CR 14', 'CR 17', 'CR 16', 'CR 13',
       'CR 15', 'CR 2', 'CR 5', 'CR 7', 'CR 11', 'CR 18', 'CR 21',
       'CR 23', 'CR 20', 'CR 22', 'CR 24', 'CR 1', 'CR 3', 'CR 6',
       'CR 1/2', 'CR 12', 'CR 8', 'CR 0', 'CR 4', 'CR 19', 'CR 1/8',
       'CR 26', 'CR 25', 'CR â€”', 'CR 30'], dtype=object)

In [62]:
df['CR'] = df['CR'].apply(transformFraction)

In [63]:
df.sample(5)

                      Enemy    CR
77                Berbalang   2.0
255               Gas Spore   0.5
184      Drow Arachnomancer  13.0
135  Copper Dragon Wyrmling   1.0
610                   Tiger   1.0

In [64]:
df = df[df['CR'] < 15]

In [65]:
df.sample(5)

                  Enemy    CR
185  Drow Elite Warrior   5.0
466  Ogre Battering Ram   4.0
295      Githyanki Gish  10.0
8    Adult Brass Dragon  13.0
145                 Dao  11.0

In [66]:
df.rename(columns={'CR':'cr','Enemy':'name'}, inplace=True)

In [67]:
df.head()

              name     cr
0        Aarakocra   0.25
1   Abjurer Wizard   9.00
2          Aboleth  10.00
3  Abominable Yeti   9.00
4          Acolyte   0.25

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 636 entries, 0 to 707
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    636 non-null    object
 1   cr      636 non-null    float64
dtypes: float64(1), object(1)
memory usage: 14.9+ KB

In [69]:
df.to_csv('../../Data/enemies_under_14.csv', index=False)

In [70]:
df_5etools = pd.read_csv('../../Data/5e_monster_data_5eTools.csv')
df_5etools.sample(5)

,Unnamed: 0,name,hp,hp formula,hp special,ac,ac special,cr,str,dex,...,walk,fly,swim,burrow,climb,hover,size,alignment,type,source
2745,2745,Strongheart,55,10d8 + 10,-,20,-,4,15,12,...,30,-,-,-,-,-,M,LG,humanoid,WBtW
1967,1967,Hurda,105,10d12 + 40,-,13,-,5,21,8,...,40,-,-,-,-,-,H,CE,giant,PSZ
2180,2180,Huge Stone Golem,195,17d12 + 85,-,17,-,10,22,9,...,30,-,-,-,-,-,H,U,construct,SKT
1105,1105,Intellect Devourer,21,6d4 + 6,-,12,-,2,6,14,...,40,-,-,-,-,-,T,LE,aberration,MM
1771,1771,Mr. Honeycutt,33,6d8 + 6,-,12,-,2,10,15,...,30,-,-,-,-,-,M,LE,humanoid,NRH-TCMC

In [71]:
df_5etools.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2947 entries, 0 to 2946
Data columns (total 30 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2947 non-null   int64
 1   name        2947 non-null   object
 2   hp          2947 non-null   object
 3   hp formula  2947 non-null   object
 4   hp special  2947 non-null   object
 5   ac          2947 non-null   object
 6   ac special  2947 non-null   object
 7   cr          2947 non-null   object
 8   str         2947 non-null   object
 9   dex         2947 non-null   object
 10  con         2947 non-null   object
 11  int         2947 non-null   object
 12  wis         2947 non-null   object
 13  cha         2947 non-null   object
 14  str save    2947 non-null   object
 15  dex save    2947 non-null   object
 16  con save    2947 non-null   object
 17  int save    2947 non-null   object
 18  wis save    2947 non-null   object
 19  cha save    2947 non-null   object
 20  walk        2947 non-null   object
 21  fly         2947 non-null   object
 22  swim        2947 non-null   object
 23  burrow      2947 non-null   object
 24  climb       2947 non-null   object
 25  hover       2947 non-null   object
 26  size        2947 non-null   object
 27  alignment   2947 non-null   object
 28  type        2947 non-null   object
 29  source      2947 non-null   object
dtypes: int64(1), object(29)
memory usage: 690.8+ KB

In [72]:
df_5etools = df_5etools[["name",'hp','ac','cr','size','type',]]

In [73]:
df_5etools.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2947 entries, 0 to 2946
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    2947 non-null   object
 1   hp      2947 non-null   object
 2   ac      2947 non-null   object
 3   cr      2947 non-null   object
 4   size    2947 non-null   object
 5   type    2947 non-null   object
dtypes: object(6)
memory usage: 138.3+ KB

In [74]:
final_df = df.merge(df_5etools, how='inner', on='name')

In [75]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    840 non-null    object
 1   cr_x    840 non-null    float64
 2   hp      840 non-null    object
 3   ac      840 non-null    object
 4   cr_y    840 non-null    object
 5   size    840 non-null    object
 6   type    840 non-null    object
dtypes: float64(1), object(6)
memory usage: 46.1+ KB

In [76]:
final_df.drop_duplicates(subset='name',inplace=True)

In [77]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 636 entries, 0 to 839
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    636 non-null    object
 1   cr_x    636 non-null    float64
 2   hp      636 non-null    object
 3   ac      636 non-null    object
 4   cr_y    636 non-null    object
 5   size    636 non-null    object
 6   type    636 non-null    object
dtypes: float64(1), object(6)
memory usage: 39.8+ KB

In [78]:
final_df.drop(columns=['cr_y'], inplace=True)
final_df.rename(columns={'cr_x':'cr'}, inplace=True)

In [79]:
final_df.to_csv('../Data/enemies_under_14_final.csv', index=False)

OSError: Cannot save file into a non-existent directory: '..\Data'